<style>
    body {
        font-family: Tahoma;
        background-color: aquamarine;
    }
    .fixed-footer{
        width: 100%;        
        background: cornflowerblue;
        padding: 10px;
        }
    .fixed-footer{
        bottom: 0;
        position: auto;
         text-align: center;
        } 
    #container {
        width: 200px;
        padding: 8px 8px 20px 8px;
        margin: 150px auto;
        background-color:darkblue;
        border-radius: 10px;
        border-bottom: 2px;
        border-left: 2px;
    }
    #screen {
        display: block;
        margin: 15px auto;
        height: 42px;
        width: 174px;
        padding: 0 10px;
        border-radius: 4px;
        font-size: 28px;
        color: dimgrey;
        text-align: right;
    }
    .digits, .mdigits{
        background-color: darkgrey;
    }
    .edigits{
        background-color: dimgrey;
    }
    .rdigits{
        background-color: darkred
    }
    .digits , .mdigits , .rdigits, .edigits {
        display: inline-block;
        margin: 2px;
        width: 42px;
        height: 42px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        color: black;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 2px;
        border-radius: 4px;
    }
    .digits:hover,.mdigits:hover,.rdigits:hover , .edigits:hover {
        background-color:skyblue;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 2px;
    }
</style>