.split {
  height: 80%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


/* Control the left side */
.left {
  font-family: arial;
  padding-top: -50px;
color: white;
  display:block;
  top: 100px;
  left: 0;
  background-color:teal;
}

/* Control the right side */
.right {
  font-family: arial;
  padding-top: 20px;
  color:white;
  display: block;
  top: 100px;
  right: 0;
  background-color: orangered ;
}

/* If you want the content centered horizontally and vertically */
.centered {
  display: block;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

nav{
  display: block;

}
.header-right{
  align-items: right;
  display: inline-grid;
}
table, th, td {
  border: 1px solid black;
}
div.scrollmenu {

  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}