body	
{
	font-family: SimSun-ExtB;
}	
table, th, td 	{
	
				}
th, td 			{
				font-size: 115%;
				height: 15px;
				border: 1px solid grey;
				border-radius: 25px; 
				padding: 25px;
				background-color: #AAC2CF;
				box-shadow: 1px 5px #888888;
				}
.keypad		 	{

				}				
.cal_border		{
				height: 433px;
				width: 290px;
				background-color: #7EB5D3;
				margin-top: 0px;
				border: 1px solid grey;
				padding: 0px;
				
				border-radius: 20px;
				box-shadow:10px 10px 80px 15px #5E7684;
				}
.cal_box		{
				box-sizing: border-box;
				margin: 0px;
				padding: 0px;
				}