<!DOCTYPE html>
<html>
<body>
    <link  rel="stylesheet" type="text/css" href="index.css">
    <div class="fixed-header">
        <img src=".\logo.png" alt="Logo" class="center" >
        <a href="W2Signupform.html"><button>Go to Sign Up</button></a>
        <a href="W2Loginform.html"><button> Go to Log In</button></a>
        <button>About Us</button>
        </div>
    <h2 align="center">Index File</h2>
    <div align="center">
        <a href= "W2Signupform.html">Sign Up Page</a><br>
        <a href= "W2Loginform.html">Log In Page</a><br>
        <a href= "W2Form.html">Create Page</a><br>
        <a href= "W2List.html">List Page</a><br>
    </div>
    <div class="fixed-footer">
            <div class="HeaderFooter">Copyright &copy; 2019 CYBERGROUP INDIA PVT. LTD.</div>
        </div>
    </body>
</html>