ul.navbar-nav{
    float: right;
}
.navbar-default{
    padding: 10px 40px;
}
.navbar-header{
    width: 200px;
}
.background_pic{
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1536553176585-67a46418b7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    overflow-x: scroll;

}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow-x: scroll;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: black;
    font-weight: 600;
    background-color: greenyellow;
    border-radius: 10px;
}
.navbar-nav>li{
    border-radius: 15px;
}
.active{
    background-color: green;
    color: green;
}


//////////////////////////////////  Navbar code above this point  //////////////////////////////



.create_your_profile_heading{
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}
.container{
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 20px;
    max-width: 800px;
}
.container .row{
    padding: 10px;
    border-radius: 15px;
}
input.form-control{
    border-color: black;    
}
div.form_heading, .main_heading{
    /* width: 100%; */
    background-color: #000;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.main_heading{
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: green;    
}
