ul.navbar-nav{
    float: right;
}
.navbar-default{
    padding: 10px 40px;
}
.navbar-header{
    width: 200px;
}
.background_pic{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1536553176585-67a46418b7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.container{
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 50px ;
    color: black;
    margin-top: 60px;
    padding-top: 30px;
    max-width: 500px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: black;
    font-weight: 600;
    background-color: greenyellow;
    border-radius: 10px;
}
.navbar-nav>li{
    border-radius: 15px;
}
.active{
    background-color: green;
    color: green;
}

//////////////////////////////////  Navbar code above this point  //////////////////////////////

.my_class{
    text-decoration: none;
    color: white;
    width: 100px;

}
.my_class:hover{
    text-decoration: none;
    color: white;
 
}