.main_area{
    background-color:black;
	 position: relative;
    left: 40%;
    top: 50%;
    width: 24%;
    
    
}

.calci{
    background-color:black;
	 position: relative;
    width: 100%;
    
    top: 25%
}



input{
    position: relative;
    background-color: rgba(243, 243, 250, 0.103);
    color: black;
    padding: 14px 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    opacity: 0.9;
    
}
td{
    background-color:#ffffff;
	position: relative;
    border: 2px solid black;
}
.tall{
    height: 140px;
}
.display{
    position: relative;
    padding: 14px 20px;
    width: 87%;
}