<html>
<style>
body{
	
    }
* {box-sizing: border-box}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  padding: 20px 10px;
  margin-top:-20px;
}

/* Style the header links */
.header a {
  float: left;
  color: blue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo  */
.header a.logo { 
  font-size: 4px;
  font-weight: bold;
  float:left;
  margin-top:-12px;
}


/* Style the activ link*/
.header a.active {	
  color: blue;
}

a.active:hover
{
  background-color: #f9f9f9;	
}

a.create:hover
{
  background-color: #f9f9f9;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
 
 .header-right {
    float: none;
  }
}

  input[type=text], input[type=password] ,input[type=email]{
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-top:0px;
  text-align:left;
}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancel {
 float:auto;
  padding: 10px 10px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancel, .signupbtn {
  width: 30%;
  padding:16px;
}

/* Add padding to container elements */
.container {
  padding: 16px;

}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 200px) {
  .cancel, .signupbtn {
    width: 50%;
  }
}