
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 99%, rgba(188,224,238,1) 100%);
}
.header{
    height:60px;
    display: flex;
    justify-content: space-between;

}
.footer{
    display: flex;
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
}
.logo{
    display: flex;
    padding: 12px 0 12px 12px;
}
.logo-img{
    width: 100%;
    max-width:40%;

}
.login-modal{

    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 2px 1px #32166b;
    -moz-box-shadow: 0px 1px 2px 1px #32166b;
    box-shadow: 0px 1px 2px 1px #32166b;

}
.welcome-header{
    text-align: center;    
    color: white;
    font-family: 'Lobster', cursive;
    padding: 20px;
    font-size: 3rem;    

}
.login-banner{
    padding: 50px 10px;
}
.login-banner > img{
    width: 100%;
}
.login-modal div{
    background-color: #2b4ed0;

}

.login-modal-main{
    width: 450px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #6d6ddc;
    justify-content: center;
    padding: 30px;
}
.login-modal-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.middle-nav{
    display: flex;
}

.nav-item{
    padding: 20px;
    margin-right:10px;
    font-family: 'Roboto', sans-serif;


}
.nav-item:hover{
    cursor: pointer;
    background-color: #f4f5f542;
}
.grp{
    display: flex;
    flex-direction: column;
    margin:20px;
}
.login-txt-wrap{
    background-color: #2b4ed0;
    padding: 20px 0px;
    text-align: center;
    font-size: 20px;

}
.login-txt{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5rem;

}
.login-form-wrap{
    padding: 20px;
    background-color:#2b4ed0;
    font-family: 'Roboto', sans-serif;


}
.grp > label{
    font-size: 12px;  
    font-weight:600; 
    padding-bottom: 10px;
}
.grp input{
    height: 30px;
    width: 100%;
    padding-left: 28px;

}
.input-wrap{
    width: 100%;
    display: flex;

}
.input-icon{
    position: absolute;
    align-self: center;
    padding-left: 4px;
    font-size: 18px;
    color: #000033;
}

.login-btn{
    padding: 10px;
    margin-top: 30px;
    width: 50%;
    align-self: center;
    background-color: #000033;
    border-color: #000033;
    color: white;
    border-radius: 2px;
}

a:link,a:hover,a:active,a:visited{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width:960px) {
    .login-modal{
        flex-direction: column;
    }
    .login-modal-main{
        width: 100%;
        border-left: none;
        border-top: 1px solid #6d6ddc;
    }
}

@media only screen and (min-width: 320px) and (max-width:599px) {

    .middle-nav .nav-item{
        display: none;
    }

}


