body 
{
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
    padding: 0;
    margin:0;
  }


.container 
{
    padding: 16px;
    width:50%;
    position: absolute;
    top:140px;
    left:25%;
    right:25%;
    border: solid black 2px;
   
}

/*
#one{
        font-family: sans-serif;
    font-size: x-large;
    position: absolute;
    right: 90px;
    color: white;
    top: 90px;
}
#two{
        font-family: sans-serif;
    font-size:x-large;
    position: absolute;
    right: 30px;
    color:white;
    top: 90px;
}
*/



input[type=text], input[type=password] ,input[type=number],input[type=date]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: antiquewhite;
}

input[type=text]:focus, input[type=password],input[type=number],input[type=date]:focus
{
  outline: none;
  background-color: peachpuff;
}

.img
{ 
    background: black;
}
#fill
{
    position: relative;
    left:75%;
    padding: 12px;
    margin: 8px;
    cursor: pointer;
    width: 10%;
    box-shadow: 20px;
    text-align: center;
    font-size: 16px;
   
    background-color:cadetblue;
     color: white;
    

 }


#save
{
   padding: 12px;
   position:absolute;
   left: 86%;
   margin: 8px;
   width: 10%;
   text-align: center;    
   font-size: 16px;
   
   box-shadow: 20px;
   cursor: pointer;
    background-color: cadetblue;
    color: white;
   
}

 




    

@media screen and (max-width :768px)
{
    .container{
       height:auto;        
    }
    
}

p{
        height: 40px;
   
    background-color: #468686;
    
}

footer
{
   
       margin-top:90%;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
    
}