.box1{
	background-color: white;
	border:5px black solid;
	margin: 20px;
	padding: 20px;

}
.container{


	width:80%;
	margin: auto;
	text-align: center;
	padding: none;
}
.box1 h1{
text-decoration: underline;
}

.box1 li{
	padding-bottom:6px;
	border-bottom:dotted 1px #333; 
}

a:hover{
	color:red;
}
