.header-image{
    display:inline-block;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 1%;
}

.form{
    display: flex;
    justify-content: space-around;
}
button{
      background: greenyellow;
      cursor: pointer;
      width:100px;
      height:35px;
      border: 1px solid black;
      font-size:20px;
      color: white;
   border-radius:20px;
    }
 
.form-container{
    flex-basis: 10%;
    margin-left: 15%;
    
}


.box-container{
    margin-bottom: 8px;
    color: white;
    margin-left: 15%;
    position: relative;
}
.header ul{
    display: flex;
    margin-left: 67%;
}

.header li{
    list-style: none;
    color: #fff;
    font-size: 20px;
    margin: 52px 8px;
}
.header-logo{
    width: 165px;
    opacity: 1;
    margin: 10px;
}
body{
    height:109vh;
    position: relative;
    margin:0 auto;
  background-image : linear-gradient(rgba(0,0,0,.6)  ,rgba(0,0,0,.6)) ,   url('https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
  opacity:0.8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}  
