*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{

    font-family: Helvetica, Comic Sans MS;
    background-color: #fcf9f9;
}
header{
    box-shadow: 0px 0px 30px grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    background-color: white;
}

#pop{

    background-color: white;
    width: 700px;
    margin: 50px auto;
    box-shadow: 0px 0px 30px grey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;

}

footer{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 30px grey;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}
header nav{
    font-size: 20px;
}
footer nav{
    height: 50px;
}
h1{
    font-size: 32px;
    padding: 30px 0 10px 0;
    text-align: center;
    border-radius: 30px 30px 0 0 ;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    margin-top: 16px;
    margin-left: 70px;
    margin-right: 70px;
}
a{
    color: black;
    text-decoration: none ;
}

#copyright{
    padding:10px;
}


table{
    font-size: 16px;
    margin: 30px;
    border-collapse: collapse;
    padding: 20px;

}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

td,th{ 
    padding: 15px;
    border: 2px solid black;
}


