.form{
    display: flex;
    justify-content: space-around;
    action = "list.html";
}
.header-image{
    display:inline-block;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 1%;
}

.nav a{
    padding: 10px 22px;
    background: greenyellow;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.button-link{
    text-decoration: none;
}

.button{
    text-align: center;
}

body h1{
    padding-top: 25px;
    font-size: 35px;
    margin: 5px ;
}

.form-container{
    flex-basis: 48%;
    margin-left: 5%;
}

.box-container{
    margin-bottom: 8px;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header ul{
    display: flex;
}

.header li{
    list-style: none;
    color: #fff;
    font-size: 20px;
    margin: 4px 8px;
}

.nav{
    margin: 18px 0;
    border-radius: 17px;
    padding: 9px,22px;
}

.header select{
    width: 100px;
    margin-top: 15px;
    height: 25px;
}
label{
    color:white;
    display: inline-block;
    width: 30%;
    font-size: 16px;
}

.header{
    text-align: center;
}


.header h1{
    display: inline-block;
    color: #fff;
    margin-left: 25%;
}


.header-logo{
    width: 165px;
    opacity: 1;
    margin: 10px;
}

body{
    height:159vh;
    position: relative;
    margin:0 auto;
  background-image : linear-gradient(rgba(0,0,0,.6)  ,rgba(0,0,0,.6)) ,   url('https://images.pexels.com/photos/1089549/pexels-photo-1089549.jpeg?cs=srgb&dl=adult-agreement-business-1089549.jpg&fm');
  background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
  opacity:0.8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}  



.box h2{

    color:white;
    font-size: 153%;
}
h1{
    color:floralwhite;
    text-align: center;
    font-size: 40px;}

input[type="text"],input[type="email"],input[type="password"],input[type='number'],input[type='date'],
textarea{
 width:58%;
 height:32px;
 margin-bottom: 25px;
 font-size: 15px;
 border:1px solid black;
margin-bottom: 5px;
text-indent: 10px;
border-radius:50px;
}

textarea{
    height: 60px;
}



.icon{
    position: absolute;
    padding-top: 8px;
    margin-right: 15px;
    width:45px;
}
 button[type="submit"]{
      background:linear-gradient(#1D2B64,#F8CDDA);
      cursor: pointer;
      width:150px;
      height:35px;
      border: 1px solid black;
      font-size:20px;
      color: white;
   border-radius:20px;
