.header-image{
    display:inline-block;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 1%;
}
.header li{
    list-style: none;
    color: #fff;
    font-size: 20px;
    margin: 4px 8px;
}
.nav{
    margin: 18px 0;
    
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    color:white;
}
.nav a{
    padding: 1px 22px;
    background: greenyellow;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}


td{
    margin-right: 50px;
}

.name{
    color: #fff;
/*    text-decoration: none;*/
}

.header ul{
    display: flex;
    margin-left: 69%;
}
body{
    height:159vh;
    position: relative;
    margin:0 auto;
  background-image : linear-gradient(rgba(0,0,0,.6)  ,rgba(0,0,0,.6)) ,   url('https://images.pexels.com/photos/1089549/pexels-photo-1089549.jpeg?cs=srgb&dl=adult-agreement-business-1089549.jpg&fm');
  background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
  opacity:0.8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}  
.nav1{
    margin-left: 30%;
     color:white;

}

table{
    color: white!important;
}
.header-logo{
    width: 165px;
    opacity: 1;
    margin: 10px;
}

