body {
     font-size: 14px;
     margin: 0px;
     font-family: georgia, Segoe Script, Bradley Hand ITC, verdana;
     background: #1D4350;
     background: -webkit-linear-gradient(to left, #A43931, #403B4A);
     background: linear-gradient(to left, #A43931, #403B4A);
}
 .header {
     margin-bottom: 10px;
     height: 60px;
     padding: 10px;
     font-family: Comic sans ms;
     justify-content: space-between;
     Display: flex;
     background: #114357;
     background: -webkit-linear-gradient(to top, #F29492, #114357);
     background: linear-gradient(to top, #F29492, #114357);
}
 img{
    max-height:100%;
    max-width:100px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}
 .wel_text{
     margin-top:10px;
     font-size: 120%;
}
 .punch_line {
    font-size: 80%;
    color: #114357;
    padding: 3px;
}
 .nav_items{
    margin-right: 0px;
}
 .nav_btn{
     width:80px;
     height:100%;
     color: white;
     padding: 10px 0px;
     background: #1D4350;
     background: -webkit-linear-gradient(to top, #A43931, #403B4A);
     background: linear-gradient(to top, #A43931, #403B4A);
}
 #nav_bar{
     margin-top: 5px;
     height: 40px;
     padding: 5px;
     border-radius: 0px;
     Display:flex;
     justify-content: center;
     background: #1D4350;
     background: -webkit-linear-gradient(to bottom, #A43931, #403B4A);
     background: linear-gradient(to bottom, #A43931, #403B4A);
}
 #footer {
     padding: 7px;
     bottom: 0;
     height: 15px;
     width: 100%;
     text-align: center;
     border-radius: 100% 100% 0% 0%;
     position: fixed;
     margin-top: -0px;
     color: white;
     background: #1D4350;
     background: -webkit-linear-gradient(to top, #A43931, #403B4A);
     background: linear-gradient(to top, #A43931, #403B4A);
}
 ul a{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #1D4350;
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 li a{
     display: block;
     color: white;
     text-align: center;
     padding: 0px 10px;
     text-decoration: none;
     display: flex;
}
 li {
     float: left;
}
 li a:hover {
     color: black;
     background-color: white;
}
 .dropdown {
     position: relative;
     display: inline-block;
}
 .dropdown-content {
     display: none;
     position: absolute;
     min-width: 160%;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 0px;
     z-index: 1;
     background: #1D4350;
     border-radius: 0px 20px 0px 20px;
}
 .dropdown:hover .dropdown-content {
    display: block;
}
 .input_box {
     margin: 3px;
     padding: 10px;
     width: 282px;
     border-radius: 6px;
     background: #C6FFDD;
     background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
     background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}
 .input_box2 {
     margin: 2px;
     margin-top:3px;
     margin-bottom: 3px;
     padding: 10px;
     width: 125px;
     border-radius: 6px;
     background: #C6FFDD;
     background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
     background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}
 .input_box3 {
     margin: 3px;
     padding: 5px;
     width: 144px;
     height: 43px;
     border-radius: 6px;
}
 .bigbox {
     margin-top: 20px;
     font-size:130%;
     font-family: Bradley Hand ITC;
     color: white;
     font-weight:bold;
     text-align: center;
}
 .smallbox{
}
 .gender{
     width: 305px;
     height: 41px;
     margin-top:3px;
     padding: 10px;
     border-radius: 6px;
     background: #C6FFDD;
     background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
     background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}
 .DOB{
     width: 182px;
     height: 27px;
     margin-top:6px;
     margin-bottom: 0px;
     padding: 5px;
     border-radius: 6px;
     background: #C6FFDD;
     background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
     background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}
 .signup_btn{
     color: grey;
     padding: 8px 16px;
     font-size: 16px;
     margin: 4px 2px;
     border-radius: 5px;
     width: 295px;
     height: 40px;
     background: #C6FFDD;
     background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
     background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}
 .signup_btn:hover{
     cursor: pointer;
     margin-bottom: 45px;
     transition-duration:2s;
     color: black;
     border-radius: 20px;
     background: #C6FFDD;
     background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
     background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}
 .licence_box{
     margin: 3px;
     padding:5px
}
 .lower_text{
    color:#114357;
}
 .nav_text{
     font-size: 20px;
     margin: 10px;
     padding: 3px;
     text-align:center;
     color: white;
}
