body {
     font-size: 14px;
     margin: 0px;
     font-family: georgia, Segoe Script, Bradley Hand ITC, verdana;
     background: #1D4350;
     background: -webkit-linear-gradient(to left, #A43931, #403B4A);
     background: linear-gradient(to left, #A43931, #403B4A);
}
 .header {
     margin-bottom: 10px;
     height: 60px;
     padding: 10px;
     font-family: Comic sans ms;
     justify-content: space-between;
     Display: flex;
     background: #114357;
     background: -webkit-linear-gradient(to top, #F29492, #114357);
     background: linear-gradient(to top, #F29492, #114357);
}
 img{
    max-height:100%;
    max-width:100px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}
 .wel_text{
     margin-top:10px;
     font-size: 120%;
}
 .punch_line {
    font-size: 80%;
    color: #114357;
    padding: 3px;
}
 .nav_items{
    margin-right: 50px;
}
 .nav_btn{
     width:80px;
     height:100%;
     color: white;
     padding: 10px 0px;
     background: #1D4350;
     background: -webkit-linear-gradient(to top, #A43931, #403B4A);
     background: linear-gradient(to top, #A43931, #403B4A);
}
 #nav_bar{
     margin-top: 5px;
     height: 40px;
     padding: 5px;
     border-radius: 0px;
     Display:flex;
     justify-content: flex-end;
     background: #1D4350;
     background: -webkit-linear-gradient(to bottom, #A43931, #403B4A);
     background: linear-gradient(to bottom, #A43931, #403B4A);
}
 #footer {
     padding: 7px;
     bottom: 0;
     height: 15px;
     width: 100%;
     text-align: center;
     border-radius: 100% 100% 0% 0%;
     position: fixed;
     margin-top: -0px;
     color: white;
     background: #1D4350;
     background: -webkit-linear-gradient(to top, #A43931, #403B4A);
     background: linear-gradient(to top, #A43931, #403B4A);
}
 ul a{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #1D4350;
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 li a{
     display: block;
     color: white;
     text-align: center;
     padding: 0px 10px;
     text-decoration: none;
     display: flex;
}
 li {
    float: left;
}
 li a:hover {
     color: black;
     background-color: white;
}
 .dropdown {
     position: relative;
     display: inline-block;
}
 .dropdown-content {
     display: none;
     position: absolute;
     min-width: 160%;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 0px;
     z-index: 1;
     background: #1D4350;
     border-radius: 0px 20px 0px 20px;
}
 .dropdown:hover .dropdown-content {
     display: block;
}
 .bigbox {
     align-content: center;
     width: 900px;
}
 .logbox {
     font-size:130%;
     font-family: Bradley Hand ITC;
     font-weight:bold;
     color: white;
}
 .list_table{}
 table{
     padding: 10px;
     margin: 10px;
     margin-top: 15px;
     color: white;
}
 th{
     padding: 10px;
     margin: 0px;
     color: black;
     border: #F29492;
     background: -webkit-linear-gradient(to top, #F29492, #114357);
     background: linear-gradient(to top, #F29492, #114357);
}
 td{
     padding: 10px;
     margin: 0px;
     color: white;
     border: 2px #403B4A;
}
 tr{
     padding: 7px;
     margin: 0px;
     color: white;
     border: 2px #403B4A;
     background-color: #403B4A;
}
 tr:nth-of-type(2n+1){
     padding: 7px;
     margin: 0px;
     color:white;
     border: 2px solid black;
     background-color: #A43931;
}
