<style>
body{        
    padding-top: 60px;
    padding-bottom: 40px;
    }
.fixed-header, .fixed-footer{
    width: 100%;        
    background-color: black;
    padding: 10px;
    color: black;
    }
.fixed-header{
    top: 0;
    }
.fixed-footer{
    bottom: 0;
    position: fixed;
    } 
.HeaderFooter{
    width: 100%;
    margin: auto;
    }
.center {
      margin-left:40% ;
      margin-right: 25%;
      width: 20%;
}
 * {
  box-sizing: border-box;
   
    padding: 0;
    margin:0;
  }
</style>