*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}
header
{

    font-family: "Calibri Light";
    background-color: white;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 2px 2px lightgrey;
}
.CyberLogo{
    margin-left: 10px;
    margin-top: 20px;

}
.headertxt{
    padding: 20px;

}

nav{
    float: right;
    margin-bottom: 10px;
}
.links{
    display: inline;
    margin-right: 10px;

}
a{
    color: dimgrey;
    margin-right: 5px;
}


table{
    width: 100%;
    font-family: "Calibri Light";
    margin-left: auto;
    margin-right:auto ;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: left;
}

.name{
    padding: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgrey;
}
.post{
    padding: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-color: lightgrey;

}
  td > div{
  padding: 20px;
  border-width: 0.5px;
  border-style: solid;
  border-color: lightgrey;
  background-color: lightgrey;
}

footer {
    margin-top: 100%;

}

td{
    text-align: center;
    height: 25px;
}
h1{
    color: dimgrey;
}

h6{
    color: dimgrey;
}

tr:hover{
    background-color: lightgrey;
}
button{

  background: lightgrey;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  height: 40px;
  width: 200px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 10px;

}

button:hover{
  background-color: darkgray;
  cursor: pointer;
}
