* {
  box-sizing: border-box;
}

body {
    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  overflow: hidden;
  background-color: white;
  padding: 1px 1px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}

h1 {
  position: relative;
  top: 18px;
  left: 470px;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}



/* Style the content */
section {
 width: 360x;
    padding: 10% 0 0;
    margin: auto;
}
form{
      position: relative;
    z-index: 1;
    opacity: 0.8;
    background-color: cadetblue;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.section h4{
    width: 340px;
    text-align: left;
    background: transparent;
    font-family: 'Play',sans-serif;
    font-size: 16px;
     font-weight: 200px;
    text-decoration-color: black;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: black;
}
input{
    width: 340px;
    text-align: left;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play',sans-serif;
    font-size: 16px;
     font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: black;
}
input[type=button]{
    text-align: center;
    border: none;
    width:190px;
    background: white;
    color: black;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.footer
    {   
        position: fixed
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:rgb(255,69,0,0.85);
        color: white;
        text-align: center;
        padding: adding:10px;
        font-size:10px;
    }