.container{
    width: 21%;
    margin: 30px auto;
    box-sizing: border-box;
    background-color: #333333;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 8px 8px 24px #111111;
}

table{
    border: 1px solid  black;
    border-radius: 10px;
    border-spacing: 10px;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
}
th{
    height: 50px;
    width: 50px;
    color: white;
    
    letter-spacing: 1px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
tr{
    width: 100%;
}
td:active{
    transform: scaleY(0.8) translateY(6px);
}
input[type="button"]{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    border-radius: 5px;
    outline: none;
}
input[type="button"]:hover{
    cursor: pointer;
}
#result{
    background-color: #999999;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 70px;
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    font-size: 30px;
    font-family:fantasy;
    text-align: right;
    color: white;
    
}
#myname{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
#highlight{
    color: red;
}



