
body{
        font-family: 'Orbitron', sans-serif;
        background : black;
	}
section{
    margin-top: 50px;
    padding: 20px;
    width: 22vw;
    margin-right: auto;
    margin-left: auto;
    background-color: grey;
    border-radius: 50px;
	}
.display{
    width: 20vw;
    height: 6vh;
    margin-right:auto;
    margin-left: auto;
    padding :0px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 17px;
	}
h1{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2px;
	}

.button{
    width: 5vw;
    height: 6vh;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
	}

.butt {
    width: 5vw;
    height: 6vh;
    font-size: 17px;
    border: 4px solid red;
    border-radius: 10px;
    border: 2.5px solid red;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px red;
	}
.button:hover{background-color: grey;}
.butt:hover{background-color: red;}