body 
{
    margin: 0;
    padding: 0;
    background : #efefef;
    font-size: 5;
    font-family: sans-serif;
    font-weight:300;
}

*{
     
  box-sizing: border-box;
}




#login-box
{
    padding: 16px;
    width:50%;
    position: absolute;
    top:100px;
    left:25%;
    right:15%;
    font-family:monospace;
     color:crimson;
    font-size:20px;
}



input[type=text], input[type=password] ,input[type=number],input[type=date]
{
  display: inline-block;
  border: none;
  background-color: cornsilk;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;

}

input[type=text]:focus, input[type=password],input[type=number],input[type=date]:focus
{
  outline: none;
  background-color: cornsilk;
}

header{
    padding: 0;
    position: relative;
    background: black;
    
}

h2 {
    position: absolute;
    left : 35%;
    font-family: fantasy;
    font-size: 40px;
    font-weight:300;
    font-family:cursive;
    color:chocolate;
    top: 0%;
    
}

a {
      display: inline-block;
      font-weight: 600;
     font-size:20px;
      color: black;
      text-decoration: none;
      font-family:sans-serif;
    }

.sbtn
{
 font-size:small;
 font-weight:bold;
  background-color: #96d496;
    padding: 16px;
   position: relative;
   left:5%;
   margin: 8px;
   width: 20%;
   text-align: center;    
   font-size: 16px;
   box-shadow: 20px;
   cursor: pointer;
} 


.cbtn
{
    font-size:small;
 font-weight:bold;
    position: absolute;
    left:75%;
    padding: 16px;
    margin: 8px;
    cursor: pointer;
    width: 20%;
    box-shadow: 20px;
    text-align: center;
    font-size: 16px;
  

background-color: #e13a3a;
 }


.cbtn:hover 
{ 
  
  color: white;
}

.sbtn:hover
{
  color: white;
}

footer{
    color: white;
    margin-top:60%;
    background-color: black;
    font-family: sans-serif;
    font-size:small;
}
