html {
        background-color: white;
    }
 
    .box {
        background-color: #625E5D ;
        height: 300px;
        width: 250px;
        border-radius: 10px;
        position: relative;
        top: 80px;
        left: 40%;
    }
	.display {
        background-color: black;
        width: 220px;
        position: relative;
        left: 15px;
        top: 20px;
        height: 40px;
    }
 
    .display input {
        position: relative;
        left: 2px;
        top: 2px;
        height: 35px;
        color: black;
        background-color: white;
        font-size: 21px;
        text-align: right;
        width:220px;
    }
	.keys {
        position: relative;
        top: 15px;
    }
 
    .button {
        width: 40px;
        height: 30px;
        border: none;
        border-radius: 8px;
        margin-left: 17px;
        cursor: pointer;
        border-top: 2px solid transparent;
    }
 
        .button.gray {
            color: black;
            background-color: grey;
            border-bottom: black 2px solid;
            border-top: 2px  solid;
        }
 
        .button.pink {
            color: black;
            background-color: #ff4561;
            border-bottom: black 2px solid;
        }
 
        .button.black {
            color: black;
            background-color: white;
            border-bottom: black 2px solid;
            border-top: 2px white solid;
        }
 
        .button.orange {
            color: black;
            background-color: white;
            border-bottom: black 2px solid;
            border-top: 2px white solid;
        }
 
    
    p {
        line-height: 10px;
    }