table{ position: absolute;
    left: 30%;
    top: 40%;
    table-layout: auto;
    border-collapse: collapse;
    border-width: thick;
    border-color: darkblue;
    
}


header{
    padding: 0;
    position: relative;
    background: black;
    
}

h2 {
    position: absolute;
    left : 35%;
    font-family: fantasy;
    font-size: 40px;
    font-weight:300;
    font-family:cursive;
    color:chocolate;
    top: 0%;
    
}

td{
    
    font-size: 30px;
    
}

th{
    
    font-size: 30px;
    background-color:aliceblue;
}


body 
{
    margin: 0;
    padding: 0;
    background : #efefef;
    font-size: 5;
    font-family: sans-serif;
    font-weight:300;
}

*{
     
  box-sizing: border-box;
}

 footer
{
    color: white;
    margin-top:50%;
    background-color: black;
    font-family: sans-serif;
    font-size:small;
}
