/* Base styles */

*{
  margin:0;
  padding: 0;
}

body{
  /* max-width: 480px; */
  margin: 20px 0 0;
  height: 100%;
}


a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}
/*  header  */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1, p {
  margin: auto;
}

#clogo{
  border:0;
}

.container{
  margin-top: 100px;
  max-width: 640px;
}


/* Form */

.main_form input {
  width: 100%;
}

.center{
  text-align: center;
}

.submit_btn{
  margin-bottom: 15px;
}

a{
  /* text-decoration: none; */
  background-image: none;
}

table{
  margin: 30px 0 0 0;
}

section{
  padding-bottom: 60px;
}

footer{
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
