body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


nav{
    text-align: right;
    margin: 20px;
    padding: 20px;
    list-style: none;
    position: absolute;
    display:inline;
    font-size: 24px;
}
p{
    font-size:16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a{
    color: black;
}

a:hover{
    color: white;
    background: blue;
}


.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
      }
 img{
         width:400px;
        height:100px;
     }


