$font-family:   "Roboto";
$font-size:     14px;
$color-primary: #ABA194;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 20s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}
/*
.user {
    width: 10%;
    max-width: 340px;
    margin: 10vh auto;
}
.user img {
    display: inline-block;
    float: left; 
  width: 200px;
  height:100px;

}
.user__header {
    float: left;
    text-align: left;
    opacity: 0;
    display: block;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__select{
    
     display: block;
     width: 100%;
     font-family: $font-family;
     padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    background-color: whitesmoke;
}
.form__select:focus{
    background-color: white;
}
select:not(:first){
    background-color: red;
    
}
    
.form__input {
    display: block;
    width: 10%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    background-color: whitesmoke;

}
.form__input:focus{
    background-color: white;
}




#Myform:valid .btn {
  background : green ;
}
.btn {
    display: inline-block;
    width: 30%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: $color-primary;
    transition: 0.3s;
    font-weight: normal;
    &:hover {
        background: darken($color-primary, 5%);
    }
}

.btn {
    display: block;
    width: 30%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: $color-primary;
    transition: 0.3s;
    font-weight: normal;
    &:hover {
        background: darken($color-primary, 5%);
    }
}
.btn:hover {
    display: block;
    width: 40%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: red;
    transition: 0.3s;
    font-weight: normal;
    
}
/*
@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
a:link {
  text-decoration: none;
}
*/