body{
              background-image: url(back.jpg);
		}

		#h{
			padding-top: 10px;
			padding-left: 40%;
			font-size: 41px;
			font-weight: bolder;
			color:white;
		}

		.cal{
			
			width: 300px;
			margin: auto;
            height: auto;
            font-family: sans-serif;
            background:  black;
			padding-top: 10px;
			padding-left: 10px;
			padding-bottom: 10px;
                        border-redius:5px;
			
		}
		input[type=text]{
			width:288px;
			height: 50px;
			font-size: bolder;
			border-radius: 5px;

		}
		.cal input[type=button]{
			width:70px;
			height: 40px;
			border-radius: 5px;
			font-weight: bolder;
			font-size: 30px;
		}
		.cal input[type=reset]{
			width:70px;
			height: 40px;
			border-radius: 5px;
			font-weight: bolder;
			font-size: 25px;
			
		}

		.dd1 input[type=button]: hover{
			background-color: blue;
			width: 660px;
			height: 50px;
			color: blue;
		}